@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
/* --------- GOOGLE FONTS ---------- */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.2em;
    word-spacing: 5px;
    letter-spacing: 0.1em; /* add 0.1em gap between letters */
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    font-style: normal;
    letter-spacing: 0.4em; /* add 0.1em gap between letters */
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2.8em;
    font-style: normal;
    letter-spacing: 0.1em; /* add 0.1em gap between letters */
}
/* ^^^^^^^^^^^ BODY bacgroundai ir kt-^^^^^^^^^^^ */
html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: auto;
    font-family: "Roboto", sans-serif;
    background-image:url("./media/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    color: #fff;
    line-height: 1.8;
    overflow-x: hidden; /* Prevent horizontal scroll */
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./media/bg-overlay.png");
    background-repeat: repeat;
    opacity: 1; 
    z-index: -1;
    overflow-x: hidden; /* Prevent horizontal scroll */ 
}
/* ^^^^^^^^^^^ HEADER SEKCIJA^^^^^^^^^^^ */

header{
    display: flex;
    justify-content: center;
}


/* --------- HERO SEKCIJA METAVERSE ---------- */
#hero{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
a {
    color: white;
    text-decoration: dotted underline;
    text-decoration-color: white;
  }
  a:visited {
    color: white;
    text-decoration: dotted underline;
    text-decoration-color: white;
  }
  
  a:hover {
    text-decoration: dotted underline;
    text-decoration-color: rgb(48, 201, 252);
    color: rgb(48, 201, 252);
  }
  a:active{
    text-decoration: dotted underline;
    text-decoration-color:  rgb(48, 201, 252);
    color:  rgb(48, 201, 252);
  }

  /* ^^^^^^^^^^^ LINES SEKCIJA^^^^^^^^^^^ */
#lines {
    display: flex;
    justify-content: center;
    margin: auto;
}

/* ^^^^^^^^^^^ BUTTONS SEKCIJA^^^^^^^^^^^ */

#buttons.roboto-thin button {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 0.1em;
  }
#buttons button {
    border: 1px solid #fff; /* thin white border */
    background: none; 
    color: #fff;/* no background */
    padding: 15px 20px; /* add padding */
    width: 100%; /* make buttons full-width */
    box-sizing: border-box; 
  }
  
  #buttons button:hover {
    background-color: rgba(255, 255, 255, 0.5); 
  }
  #buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    /* overflow-x: hidden; */
    }
  
  /* -------  desktop version: lay buttons HORIZONTALIAI ---------- */
  @media (min-width: 768px) {
    #buttons {
      flex-direction: row;
    }
    #buttons button {
      width: 100%;
      margin: 0;
      flex-grow: 1; 
    }
    #buttons button:not(:first-child) {
        border-left: none; /* Remove left border for all but the first button to avoid double borders */
    }
}

/*  =================================
    NEMATOMOS SEKCIJOS -TABAI 
    ================================= */
/* ^^^^^^^^^^^ INTRO SEKCIJA^^^^^^^^^^^ */
    #introTabas{
      
        margin: 8px;
        padding: 40px;
        background-color: black;
        color: white;
        display: none;
    }
    
    .intro-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .intro-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
    }
    
    .intro-text h2 {
        margin: 0;
    }
    
    .intro-text hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        margin-top: 18x; /* Adjust the margin to position the hr line under the h2 */
    }
    
    .intro-img img {
        margin-left: auto;
    }
    .intro-media {
        margin-top: 20px;
    }
    
    .intro-media video {
        width: 100%;
        height: auto;
    }
    
    .intro-media p {
        margin-top: 10px;
        text-align: left;
    }
    .intro-img img {
        transition: transform 0.3s ease-in-out;
    }
    
    .intro-img img:hover {
        transform: rotate(90deg);
    }

    /* Backdrop for modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it's above other content */
}

/* Modal styling */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001; /* Ensure it's above the backdrop */
    background-color: black; /* Match existing card styles */
    padding: 40px;
    color: white;
    width: 90%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
    border-radius: 10px; /* Optional for rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Optional for a shadow effect */
}

   
    @media (min-width: 768px) {
        #introTabas {
          margin: 10%;
        }
       
    }

    /* ^^^^^^^^^^^ WORK SEKCIJA^^^^^^^^^^^ */
    #workTabas{
      
        margin: 8px;
        padding: 40px;
        background-color: black;
        color: white;
        display: none;
    }
    
    .work-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .work-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: auto;
    }
    
    .work-text h2 {
        margin: 0;
    }
    
    .work-text hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #fff;
        margin-top: 18x; /* Adjust the margin to position the hr line under the h2 */
    }
    
    .work-img img {
        margin-left: auto;
    }
    .work-media {
        margin-top: 20px;
    }
    
    .work-media img {
        width: 100%;
        height: auto;
    }
    
    .work-media p {
        margin-top: 10px;
        text-align: left;
    }
    .work-img img {
        transition: transform 0.3s ease-in-out;
    }
    
    .work-img img:hover {
        transform: rotate(90deg);
    }
    @media (min-width: 768px) {
        #workTabas {
          margin: 10%;
        }
       
    }
 /* ^^^^^^^^^^^ ABOUT SEKCIJA^^^^^^^^^^^ */
 #aboutTabas{
      
    margin: 8px;
    padding: 40px;
    background-color: black;
    color: white;
    display: none;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.about-text h2 {
    margin: 0;
}

.about-text hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 18x; /* Adjust the margin to position the hr line under the h2 */
}

.about-img img {
    margin-left: auto;
}
.about-media {
    margin-top: 20px;
}

.about-media img {
    width: 100%;
    height: auto;
}

.about-media p {
    margin-top: 10px;
    text-align: left;
}
.about-img img {
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: rotate(90deg);
}
@media (min-width: 768px) {
    #aboutTabas {
      margin: 10%;
    }
   
}
 /* ^^^^^^^^^^^ CONTACT SEKCIJA^^^^^^^^^^^ */

 #contactTabas{
      
    margin: 8px;
    padding: 40px;
    background-color: black;
    color: white;
    display: none;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.contact-text h2 {
    margin: 0;
}

.contact-text hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 18x; /* Adjust the margin to position the hr line under the h2 */
}

.contact-img img {
    margin-left: auto;
}
.contact-media {
    margin-top: 20px;
}

.contact-media img {
    width: 100%;
    height: auto;
}

.contact-media p {
    margin-top: 10px;
    text-align: left;
}
/* Add this CSS for the rotation effect */
.contact-img img {
    transition: transform 0.3s ease-in-out;
}

.contact-img img:hover {
    transform: rotate(90deg);
}

@media (min-width: 768px) {
    #contactTabas {
      margin: 10%;
    }
   
}